/* Old Rose */
:root {
  /* --pink: #f14e95; */
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  --grey: #858585;
}

body {
  font-size: 1.2rem;
  font-family: "League Spartan", sans-serif;
  color: #000000;
  min-height: 4000px;
}

.navbar {
  background-color: white !important;
}

.navbar-expand-sm .navbar-nav {
  flex-direction: row !important;
  gap: 5rem;
  overflow: hidden;
}

.navbar-brand {
  font-family: "Leckerli One", cursive;
  font-size: 2rem;
}

.nav-link {
  font-family: "Lexend Giga", sans-serif;
  color: #000000;
}

.bg-grey {
  background-color: var(--grey);
  border-radius: 5px;
}

.circle-decoration {
  position: absolute;
  height: 881px;
  width: 1002px;
  background-color: #f2f2f2;
  border-radius: 50%;
  display: inline-block;
  transform: translateX(-70%) translateY(-40%);
  z-index: -1;
}

.circle-decoration-2 {
  position: absolute;
  height: 1094px;
  width: 1184px;
  background-color: #f9f9f9;
  border-radius: 50%;
  display: inline-block;
  transform: translateX(-64%) translateY(-40%);
  z-index: -1;
}

.bunga1 {
  position: absolute;
  right: 0;
  top: 25%;
}

.bunga2 {
  position: absolute;
  right: 20%;
  top: 65%;
}

.decor .device {
  transform: translateX(90%) translateY(25%);
}

.decor .socmed {
  display: grid;
  grid-column: 1;
  gap: 10px;
  transform: translateX(110%) translateY(-300%);
}

.hero ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: grayscale();
}

.hero {
  position: relative;
  color: #000000;
  max-height: 100vh;
}

.hero main {
  position: absolute;
  text-align: left;
  left: 0;
  top: 10rem;
  margin-left: 80px;
}

.hero main h2 {
  font-size: 2.2rem;
}

.hero main p {
  width: 486px;
  font-size: 1.5rem;
}

.hero main button {
  border: none;
  background-color: var(--grey);
  margin-top: 2rem;
  padding: 10px;
  border-radius: 10px;
  font-family: "Lexend Giga", sans-serif;
}

.template {
  margin-top: 1rem;
  padding-top: 2rem;
}

.template .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* image with text */
.image-container {
  position: relative;
  display: inline-block; /* Adjusts to the size of the image */
}

.image-container img {
  display: block; /* Ensures there are no gaps under the image */
  width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
}

.image-container .overlay-text {
  position: absolute;
  top: 50%; /* Centers the text vertically */
  right: 2%; /* Centers the text horizontally */
  color: #ffffff; /* Change this to whatever color you need */
  font-size: 2.3rem; /* Adjust the font size */
  text-align: right; /* Center the text */
  padding: 0.5rem; /* Optional: adds some padding around the text */
  z-index: 1; /* Ensures the text appears above the image */
  font-family: "Krona One", sans-serif;
}

.image-container .overlay-text-2 {
  position: absolute;
  top: 50%; /* Centers the text vertically */
  left: 2%; /* Centers the text horizontally */
  color: #ffffff; /* Change this to whatever color you need */
  font-size: 2.3rem; /* Adjust the font size */
  text-align: left; /* Center the text */
  padding: 0.5rem; /* Optional: adds some padding around the text */
  z-index: 1; /* Ensures the text appears above the image */
  font-family: "Krona One", sans-serif;
}

.template img {
  max-width: 100%; /* Ensure images are responsive */
  height: auto; /* Maintain aspect ratio */
}

.template .info {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.template .variant {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

/* Media Query */
/* Extra Large */
@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(65px);
  }
}
/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .home .heart {
    display: none;
  }
  .home .img-responsive {
    transform: scaleX(-1);
  }
  .timeline::before {
    left: 60px;
  }
  .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
    width: 120px;
    height: 120px;
  }
  .timeline li .timeline-panel {
    width: calc(100% - 200px);
    float: right;
  }
  .timeline li .timeline-panel::before {
    left: -15px;
    transform: rotate(-45deg);
    top: 50px;
  }
  .timeline li.timeline-inverted .timeline-panel::before {
    top: 50px;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }
  .sticky-top {
    overflow: hidden;
  }
  .home .heart {
    display: none;
  }
  .info .card-body {
    display: flex;
    flex-direction: column;
  }
  .timeline li .timeline-image {
    width: 120px;
    height: 120px;
  }
  .comment .comment-list {
    width: 80%;
  }
  .mynavbar .nav-link {
    font-size: 1.2rem;
  }
}

/* mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
  .home .heart {
    display: none;
  }
  .info .card-body {
    display: flex;
    flex-direction: column;
  }
  .timeline li .timeline-image {
    width: 80px;
    height: 80px;
  }
  .timeline li .timeline-panel {
    width: 70%;
    transform: translateX(-10px);
  }
  .timeline li .timeline-panel::before {
    left: -15px;
    transform: rotate(-45deg);
    top: 40px;
  }
  .timeline li.timeline-inverted .timeline-panel::before {
    top: 40px;
  }
  .mynavbar .offcanvas {
    width: 100vw;
    min-width: 250px;
  }
  .navbar-expand-sm .navbar-nav {
    flex-direction: row !important;
    gap: 8px;
    overflow: hidden;
  }
  .mynavbar .nav-link {
    font-size: 1rem;
  }
}

/* mobile phone small */
@media (max-width: 472px) {
  .timeline li .timeline-panel {
    width: 64%;
    transform: translateX(-10px);
  }
  .mynavbar .offcanvas {
    width: 100vw;
    min-width: 250px;
  }
}
