body {
  max-width: 500px;
  margin: auto;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #4d4d4d;
}

.bg-single {
  background-image: url(img/bg-inv.jpeg);
  height: 100vh;
  background-position: center;
  /* width: 100vh; */
}
