:root {
  --gold: #feda97;
}

/* ------------------------ font -------------- */
.ephesis {
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
}

.crimson-text {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.courgette {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}

.crimson-pro {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* ------------------------ end of font -------------- */

body {
  max-width: 500px;
  margin: auto;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--gold);
}

.bg-single {
  background-image: url(img/bg-inv.jpeg);
  height: 100vh;
  background-position: center;
}

/* cover */
.cover,
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover .top .top-1,
.cover .top .top-2,
.home .top .top-1,
.home .top .top-2 {
  font-size: 32px;
  line-height: 100%;
  text-align: center;
}

.cover .top .top-2,
.home .top .top-2 {
  font-size: 64px;
  margin-top: -36px;
}

.cover .mid,
.home .mid {
  display: flex;
  position: relative;
  width: 440px;
  margin-top: 20%;
}

.cover .mid #A,
.home .mid #A {
  font-size: 170px;
  line-height: 100%;
  color: white;
  position: absolute;
  left: 40px;
  filter: blur(5px);
}

.cover .mid #and,
.home .mid #and {
  font-size: 64px;
  line-height: 100%;
  color: white;
  position: absolute;
  left: 190px;
  top: 130px;
  transform: rotate(6.4deg);
  filter: blur(1px);
}

.cover .mid #B {
  font-size: 170px;
  line-height: 100%;
  color: white;
  position: absolute;
  left: 220px;
  top: 86px;
  transform: rotate(6.4deg);
  filter: blur(5px);
}

.cover .groom {
  display: flex;
  font-size: 75px;
  z-index: 10;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cover .groom {
  position: relative;
}

.cover .groom .first {
  position: absolute;
  left: -172px;
  top: 50px;
}

.cover .groom .second {
  position: absolute;
  top: 124px;
  left: 10px;
}

.cover .bottom {
  margin-top: 280px;
  color: white;
  text-align: center;
}

.cover .bottom h4 {
  font-size: 20px;
}

.cover .bottom h5 {
  font-size: 24px;
  margin-top: 8px;
}

.cover .bottom .btn-open {
  margin-top: 18px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #f2b647, #ffe481);
  border: 1px solid white;
  color: white;
}

/* home */
.home .mid #B {
  font-size: 170px;
  line-height: 100%;
  color: white;
  position: absolute;
  left: 220px;
  top: 0px;
  transform: rotate(6.4deg);
  filter: blur(5px);
}

.home .groom {
  display: flex;
  font-size: 75px;
  z-index: 10;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home .groom {
  position: relative;
}

.home .groom .first {
  position: absolute;
  left: -172px;
  top: 0px;
}

.home .groom .second {
  position: absolute;
  top: 124px;
  left: 10px;
}

.home .bottom {
  margin-top: 280px;
  color: white;
  text-align: center;
}

.home .bottom h4 {
  font-size: 20px;
}

.home .bottom h5 {
  font-size: 24px;
  margin-top: 8px;
}

.home .bottom .btn-open {
  margin-top: 18px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #f2b647, #ffe481);
  border: 1px solid white;
  color: white;
}
